# 5 secs menu delay during dev (boot screnn looks beautiful with a delay lol)
set timeout=5

# Boot my kernel binary from ISO /boot
menuentry "CheesecakeOS" {
    multiboot2 /boot/cheesecake.bin
    boot
}
